body{
    font-family: 'Poppins', sans-serif;
    margin: 1px;


}
h1{

    font-size: 55px;
    
}
.name{
    color:rgb(243, 107, 57);
}
.flexible-container{
    display: flex;
    margin-bottom: 140px;
}
.numberone{

    width 50%;
    padding-left: 5%;
}
.numberone img{
    width: 90%;
}
.linkbutton{
    text-decoration: none;
    background-image:linear-gradient(orange,rgb(221, 103, 82));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 6px;
    size: justify;

}
.topbanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    box-shadow:10px 10px 40px gray ;
    width: 40%;
    margin-left: 4%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    
}
.experience1{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#div1{
    border-left: 7px solid orangered;
}
#div2{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
    text-emphasis-color: green;
}